body {
    background-color: #fffbf7;
    margin:0%
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 150%;
    font-weight: 600;
}

h4 {
    color: #46484c;

}

p {
    color: #8b8b8bcc;
}

button {
    color:#fff;
    background-color: #025157;
}

.header{
    margin: 40px 20px 20px;
    font-size: 0%;
    height: 80px;
}

.header li{
    display: inline;
}

.header ul{
    padding: 0%;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height:  45px;
}

.header .logo {
    width: 20%;
    text-align: left;
}

.header .navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight:  500;
}

.header .actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.header .actions button{
    color: #ffffff;
    background-color: #67b54b;
    border: 0;
    padding: 12px 14px;
    border-radius: 5px;
    margin-left: 10px;
}

.main{
    margin-top: 150px;
    text-align: center;
}

.main img{
    max-width: 1000px;
    width: 80%;
}

.main .imagen-propiedades {
    max-width: 1000px;
    width: 80%;
}
